# ========================
# NODE / FRONTEND
# ========================
node_modules/
frontend/node_modules/

.next/
frontend/.next/
out/
build/

.pnp
.pnp.*

.venv/

# ========================
# LOGS
# ========================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# ========================
# ENV FILES (IMPORTANT)
# ========================
.env
.env.*
.env.local

# ========================
# OS / SYSTEM FILES
# ========================
.DS_Store

# ========================
# TYPESCRIPT
# ========================
*.tsbuildinfo
next-env.d.ts

# ========================
# PYTHON / BACKEND
# ========================
venv/
__pycache__/
*.pyc

# ========================
# MISC
# ========================
*.pem
coverage/
.vercel